.paginationSection {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-top: 5rem;
}

.paginationPage {
  font-size: 2rem;
}
.paginationButton {
  font-size: 25px;
  font-weight: bold;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 199, 161);
  padding: 0;
  border-radius: 50px;
  transition: all 0.5s;
}
.paginationButton:hover {
  scale: 1.2;
  cursor: pointer;
}
.paginationButton:active {
  background-color: rgb(24, 199, 161);
}

.pageInput {
  height: 40px;
  align-self: center;
  justify-self: flex-end;
  margin-left: 50px;
  padding: 5px 10px;
  font-size: 2rem;
  border: 1px solid rgb(24, 199, 161);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  outline: none;
}
