.card {
  display: flex;
  padding: 20px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 40%;
  justify-content: space-around;
  margin: 30px auto;
}

.cardField{
  text-align: left;
}

.imgBlock img{
  width: 200px;
}

.link {
  text-decoration: none;
  margin: 30px;
  padding: 15px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  color: black;
}

.link:hover {
   box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}

.highlighted {
  box-shadow: 0 0 20px 10px rgba(34, 255, 0, 0.3);
}

.emptyBlock{
  margin: auto 20px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}