.search-input {
  height: 40px;
  width: 40%;
  padding: 5px 10px;
  font-size: 2rem;
  border: 1px solid gray;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  outline: none;
}
.search-button,
.search-button:focus {
  background-color: pink;
  height: 40px;
  padding: 7px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: none;
  outline: none;
}
.search-icon {
  width: 25px;
  font-size: 24px;
}
.search-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
