.card {
  width: 200px;
  padding-bottom: 10px;
  min-height: 200px;
  border: 1px solid silver;
  border-radius: 8px;
  transition: 0.5s all;
  cursor: pointer;
}
.card:hover {
  scale: 1.05;
  box-shadow: 0 0 10px silver;
}
.card h2 {
  padding: 10px;
  font-size: 2rem;
  color: black;
  margin-bottom: 10px;
}
.card h4 {
  padding-left: 10px;
  text-align: start;
  font-size: 1.6rem;
  color: rgb(114, 114, 114);
}

.card img {
  width: 100%;
  border-radius: 5px;
}
